{% extends 'userWeb/movies/base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div style="height: 30px;"></div>

        <div class="shadow-lg content-section rounded">
            <div class="media">
                <img src="{{ user.profile.image.url }}" class="rounded-circle account-img">
                <div class="media-body">
                    <h2 class="account-heading">
                        {{ user.username }}
                    </h2>
                    <p class="secondary">
                        {{ user.email }}
                    </p>
                </div>
            </div>

            <form action="" method="POST" enctype="multipart/form-data" class="user-profile-form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ user.username }}的个人资料</legend>
{#                    {% for field in user.meta.fields %}#}
{#                        <div class="form-group">#}
{#                            <label for="{{ field.name }}">{{ field.verbose_name }}</label>#}
{#                            <input type="text" id="{{ field.name }}" name="{{ field.name }}" class="form-control"#}
{#                                   value="{{ field.value_from_object(user) }}" disabled>#}
{#                        </div>#}
{#                    {% endfor %}#}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">更新</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}