{% load static %}

<link rel="stylesheet" href="{% static 'userWeb/style.css' %}">
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>基于协同过滤的电影推荐网站</title>
</head>
<body>
    <header>
        <h1>Welcome to My Django Website!</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'userWeb:index' %}">首页</a></li>
{#            <li><a href="{% url 'contact' %}">所有电影</a></li>#}
{#            <li><a href="{% url 'about' %}">用户</a></li>#}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 My Django Website. All rights reserved.</p>
    </footer>
</body>
</html>