{% load static %}
<!doctype html>
<html lang="zh">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'userWeb/movies/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'userWeb/movies/main.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a href="{% url 'userWeb:index' %}" class="navbar-brand">基于协同过滤的电影推荐网站</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline" action="" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="电影名称" aria-label="电影名称"
                                   aria-describedby="basic-addon2" name="movieName">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">搜索</button>
                            </div>
                        </div>
                    </form>
                </li>
                <!-- 其他导航项 -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userWeb:index' %}">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userWeb:movie' %}">电影</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userWeb:user' %}">用户</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container">
    {% if messages %}
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row mt-4">
        <div class="col-md-9">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-3">
            <!-- 侧边栏内容 -->
        </div>
    </div>
</main>

<footer class="bg-light mt-4 py-3">
    <div class="container text-center">
        <!-- 页脚内容 -->
    </div>
</footer>

<script src="{% static 'userWeb/movies/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'userWeb/movies/popper.min.js' %}"></script>
<script src="{% static 'userWeb/movies/bootstrap.min.js' %}"></script>
{% block JavaScript %}{% endblock %}
</body>

</html>