{% extends 'userWeb/movies/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header ">
                        <h1 class="text-center">登录</h1>
                    </div>
                    <div class="card-body">
                        {% if some_message %}
                            <p>{{ some_message }}</p>
                        {% endif %}
                        <form method="POST" action="{% url 'userWeb:login' %}?next={% url 'userWeb:index' %}" novalidate>
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.password|as_crispy_field }}
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                        </form>
                        <div class="text-center">
                            <a href="{% url 'userWeb:password_reset' %}">忘记密码？</a>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="text-center">还没有账户？<a href="{% url 'userWeb:register' %}">点击注册</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}