{#todo 密码修改模块有问题重新写#}
{% extends 'userWeb/movies/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">

                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">密码重置</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'userWeb:password_reset' %}">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">重置密码</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body text-center">
                        <p>返回<a href="{% url 'userWeb:login' %}">登录</a>页面</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}